<div class="col-md-6 mb-5">
    <div class="row">
        <div class="col-md-4 interview-img" style="background-image: url(images/posts/{{ .Date.Year }}/{{ .Params.coverImage }});"></div>

        <div class="col-md-8 py-0 px-4">
            <h4 class="mt-0">{{ .Title }}</h4>
            <em>{{ .Date | time.Format ":date_long" }}</em>
            {{ $parts := split .Plain (i18n "interview-question") }}
            {{ if gt (len $parts) 1 }}
            <p>{{ truncate 160 (index $parts 1) }}</p>
            {{ else }}
            <p>{{ .Summary }}</p>
            {{ end }}
            <a href="{{ .Permalink }}" class="button ghost">{{ .Title }}</a>
        </div>
    </div>
</div>
