{{ define "main" }}

<div class="homepage-hero-image">

<div class="container-padding">
    <span class="homepage-hero-content">
        <p>{{ .Site.Params.Description }}</p>

        <div class="download-options">
            <a href="{{ relLangURL "download" }}" class="button">{{ i18n "download" }}</a>
            <svg style="fill: white" width="30" height="30">
                <use href="images/windows-icon.svg#svg16039"></use>
            </svg>
            <svg style="fill: white" width="30" height="30">
                <use href="images/linux-icon.svg#svg16027"></use>
            </svg>
            <svg style="fill: white" width="30" height="30">
                <use href="images/apple-icon.svg#path16529"></use>
            </svg>
        </div>

    </span>
</div>

</div>

<div class="hero-credits">
    <div class="row container-padding credits">
        <div class="col-md-4">
            {{ i18n "powered-by" }} <a href="https://kde.org" target="_blank" class="home-kdelogo circle-button">
                <img src="images/pages/kde-logo.png" />
            </a>
        </div>
        <div class="col-md-5 social-media">
            {{ partial "social-media.html" . }}
        </div>
        <div class="col-md-3" style="text-align: right" >
            {{ partial "art-by.html" (dict "context" "." "name" "Tyson Tan" "url" "https://twitter.com/tysontanx") }}
        </div>
    </div>
</div>

<div class="container-padding">
    <h2 class="inline" style="margin-top: 0">{{ i18n "news" }}</h2>
    <a href="{{ relLangURL "/index.xml" }}" style="text-decoration: none; margin-right: 1rem">
        <img src="images/rss-icon.png" class="rss-icon" />
    </a>
    <a href="{{ relLangURL "/posts" }}" class="ghost button">{{ i18n "see-all" }}</a>

    {{ $posts := where .Site.RegularPages "Type" "posts" }}
    {{ if eq (len $posts) 0 }}
        <div>{{ i18n "no-news" }}</div>
    {{ else }}
        <div class="row">
        {{ range $posts | first 4 }}
        {{ partial "post_item.html" (dict "item" . "classes" "col-md-3") }}
        {{ end }}
        </div>
    {{ end }}

    <h2>{{ i18n "home-tools-to-grow" }}</h2>
    <div class="row homepage-card">
        <div class="col-md-7 hero-image" style="background-image: url(images/pages/ravioli.webp);">
            <div class="credit">
                {{ partial "art-by.html" (dict "context" "." "name" "RavioliMavioli" "url" "https://krita-artists.org/u/raviolimavioli/activity/portfolio") }}
            </div>
        </div>
        <div class="col-md-5 content">
            <h3>{{ i18n "home-tools-feature-text" }}</h3>
            <p>{{ i18n "home-tools-feature-description" }}</p>
            <ul>
                <li>{{ i18n "home-tools-feature-benefit-1" }}</li>
                <li>{{ i18n "home-tools-feature-benefit-2" }}</li>
                <li>{{ i18n "home-tools-feature-benefit-3" }}</li>
            </ul>
            <a href="{{ relLangURL "/features" }}" class="ghost button">{{ i18n "home-tools-feature-button" }}</a>
        </div>
    </div>

    <div class="row homepage-card">
        <div class="col-md-7 hero-image" style="background-image: url(images/pages/rhino_soldier_by_clooms.jpg);">
            <div class="credit">
                {{ partial "art-by.html" (dict "context" "." "name" "clooms" "url" "https://www.artstation.com/clooms") }}
            </div>
        </div>
        <div class="col-md-5 content">
            <h3>{{ i18n "resources-and-materials" }}</h3>
            <p>{{ i18n "resources-and-materials-description" }}</p>
            <ul>
                <li>{{ i18n "resources-and-materials-benefit-1" }}</li>
                <li>{{ i18n "resources-and-materials-benefit-2" }}</li>
                <li>{{ i18n "resources-and-materials-benefit-3" }}</li>
            </ul>
            <a href="https://docs.krita.org/resources_page.html" target="_blank" class="ghost button">{{ i18n "see-resources" }}</a>
        </div>
    </div>

    <div class="row homepage-card">
        <div class="col-md-7 hero-image" style="background-image: url(images/pages/seaway.webp);">
            <div class="credit">
                {{ partial "art-by.html" (dict "context" "." "name" "seaway" "url" "https://krita-artists.org/u/seaway/activity/portfolio") }}
            </div>
        </div>
        <div class="col-md-5 content">
            <h3>{{ i18n "home-community-text" }}</h3>
            <p>{{ i18n "home-community-description" }}</p>
            <ul>
                <li>{{ i18n "home-community-benefit-1" }}</li>
                <li>{{ i18n "home-community-benefit-2" }}</li>
                <li>{{ i18n "home-community-benefit-3" }}</li>
            </ul>
            <a href="https://krita-artists.org/" target="_blank" class="ghost button">{{ i18n "home-community-button" }}</a>
        </div>
    </div>
</div> <!-- end container-padding-->


<div class="full-width-panel">
    <h2>{{ i18n "free-opensource" }}</h2>
    <span style="max-width: 545px; display: inline-block;">
        <p>{{ i18n "free-opensource-text" }}</p>
        <a href="{{ relLangURL "/about/license" }}" >{{ i18n "free-opensource-button" }}</a>
    </span>
</div>


<div class="container-padding">
    {{/* Get posts in the 'artist-interview' category */}}
    {{ $interviews := .Site.Taxonomies.categories.Get "artist-interview" }}

    {{/* do not show artist interviews if there are no interviews */}}
    {{ with $interviews }}
    <h2 style="display: inline-block; margin-right: 2rem; margin-bottom: 3rem;">{{ i18n "artist-interviews" }}</h2>
    <a href="{{ relLangURL "/artist-interviews" }}" class="ghost button">{{ i18n "see-all" }}</a>

    {{/* Show the first ten interviews */}}
    <div class="row">
        {{ range . | first 10 }}
        {{ partial "interview_item.html" . }}
        {{ end}}
    </div>
    {{ end }}
</div>



<div class="homepage-team-photo"></div>
<div class="hero-credit">
    <div style="text-align: center">
        {{ i18n "krita-sprint-caption" }}
    </div>
</div>

<div style="padding: 3rem; text-align: center">
    <h2 style="margin-top: 5rem; font-size: 300%;">{{ i18n "give-back" }}</h2>
    <span style="max-width: 600px; display: inline-block;">
        <p>{{ i18n "give-back-description" }}</p>
        <a href="{{ relLangURL "/donations" }}" class="button ghost">{{ i18n "give-back-button" }}</a>
    </span>
</div>

{{ .Content }}

{{ end }}
