{{ with index $.Page.Params.items (.Get 0) }}
<div class="row">
    <div class="col-md-4">
        <div class="shop-item" style="background: url({{ .imageUrl }});
            background-size: cover;"></div>
    </div>

    <div class="col-md-8">
        <h3 style="margin-top: 0">{{ .title }}</h3>
        
        <div>{{ .description | markdownify }}</div>
        
        <div class="shop-price">{{ .price }}</div>

        <a href="{{ .buyUrl }}" class="button">{{ .buyText }}</a>
    </div>

</div>
{{ end }}
